{% extends "base.html" %}
{% block content %}
    <br>
    <br>
    <a href="#">Almonds soaked in water</a>
    <br>
    <br>
    <a href="#">Carrot juice</a>
    <br>
    <br>
    <a href="#">3 Bottles of water</a>
    <br>
    <br>
    <a href="#">Oats woth almonds and walnuts</a>
    <br>
    <br>
    <a href="#">1 boiled egg</a>
    <br>
    <br>
    <a href="#">Vitamin tablets</a>
    <br>
    <br>
    <a href="#">Cucumber raita</a>
    <br>
    <br>
    <a href="#">Green Tea</a>
    <br>
    <br>
{% endblock %}
